.button {
  padding: 5px 10px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.2s ease;
  background: transparent;
  font-size: 15px;
}

.button:hover {
  transform: scale(1.01);
}

.button:active {
  transform: scale(0.95);
}

.button.dark {
  border: 1px solid #fff;
  color: var(--tertiary-color);
}

.button.dark:hover {
  background: #fff;
  color: var(--secondary-color);
}

.button.dark svg * {
  fill: var(--tertiary-color);
}

.button.dark:hover svg * {
  fill: var(--secondary-color);
}

.button.light {
  border: 1px solid #000;
  color: var(--secondary-color);
}

.button.light:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.button.light svg * {
  fill: var(--secondary-color);
}

.button.light:hover svg * {
  fill: var(--primary-color);
}

.button:disabled {
  cursor: wait;
}
