.error {
  background: #000;
  width: 300px;
  height: 100px;
  color: var(--quaternary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
