.modalContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  animation: showModal 0.2s forwards;
}

.modal {
  background: #000;
  width: 300px;
  color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 15px;
  font-size: 14px;
}

.players {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.players > div {
  border-bottom: 1px solid var(--tertiary-color-30);
  padding: 2px 15px;
}

.players > div:nth-of-type(1) {
  border-top: 1px solid var(--tertiary-color-30);
}

.players > div span {
  color: var(--tertiary-color-30);
  font-size: 11px;
  font-style: italic;
}

.payers > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkers > input:last-of-type {
  margin: 0 0 0 5px;
}

.checkers > input {
  all: unset;
  width: 7px;
  height: 7px;
  border: 1px solid var(--tertiary-color-30);
  display: inline-block;
}

.checkers > input:checked {
  background: var(--primary-color);
}

@keyframes showModal {
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
