.button {
  padding: 5px 10px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
  background: transparent;
}

.button:hover {
  transform: scale(1.01);
  background: #000;
  color: var(--primary-color);
}

.button:hover svg * {
  fill: var(--primary-color);
}

.button:active {
  transform: scale(0.95);
}
