.cardContainer {
  height: 45.77px;
  width: 32px;
}

.cardContainer[flipped="true"] > .card {
  transform: rotateY(180deg);
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border: 1px solid #000;
  border-radius: 2px;
}

.frontCard,
.backCard {
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.hidden {
  transform: rotateY(180deg);
}

.backCard {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1px;
}

.backCard.par {
  background-image: url("../imgs/back-card-blue.png");
}

.backCard.impar {
  background-image: url("../imgs/back-card-red.png");
}

@media (min-width: 700px) {
  .cardContainer {
    width: 55px;
    height: 78.66px;
  }
}
