.cardContainer {
  height: 50px;
  width: 30px;
}

.cardContainer:hover > .card {
  transform: rotateY(180deg);
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border: 1px solid #000;
}

.frontCard,
.backCard {
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.hidden {
  transform: rotateY(180deg);
}

.backCard {
  background-image: url("../imgs/card-back.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
}
