.htp {
  position: absolute;
  background: var(--secondary-color);
  color: var(--tertiary-color);
  width: 100%;
  height: 100%;
  padding: 30px;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  animation: showModal 0.2s forwards;

  overflow: scroll;
}

.htp p {
  margin: 0 0 10px 0;
  font-size: 14px;
}

@keyframes showModal {
  to {
    transform: translate(-50%, -50%) scale(1);

    opacity: 1;
  }
}

@media (min-width: 700px) {
  .htp p {
    font-size: 15px;
  }

  .htp {
    width: 50%;
    height: fit-content;
  }
}
