.modal {
  background: #000;
  width: 300px;
  color: var(--quaternary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 99;
  padding: 20px 15px;
}
