.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.table > * {
  display: flex;
  gap: 5px;
}

.footer {
  width: 100%;
  max-width: 400px;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.footer > button:active {
  transform: scale(0.95);
}

footer img {
  height: 20px;
}
