.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.table > * {
  display: flex;
  gap: 5px;
}

.header,
.footer {
  width: 100%;
  max-width: 400px;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header {
  top: 20px;
}

.footer {
  bottom: 20px;
}
