.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.table > * {
  display: flex;
  gap: 5px;
}

footer img {
  width: 40px;
  height: 50px;
}
