.table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table > *{
    display: flex;
    gap: 5px;
}

.table img{
    height: 50px;
}