.players {
  width: 100vw;
  max-width: 500px;
  height: 100vh;
  padding: 10% 5%;
  position: absolute;
  top: 0;
  background: var(--secondary-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  transition: left .3s ease;
}

.players.open {
  left: 0;
}

.players.close {
  left: -100%;
}

footer {
  margin: 20px 0 0 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
