.players {
  width: 100vw;
  max-width: 500px;
  min-height: 100vh;
  padding: 40px 20px;
  position: absolute;
  top: 0;
  background: var(--secondary-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  transition: left 0.3s ease;
}

.players.open {
  left: 0;
}

.players.close {
  left: -100%;
}

.players form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.players input {
  background: none;
  border: none;
  border-bottom: 1px solid var(--tertiary-color-30);
  color: var(--tertiary-color);
  padding: 2px 5px;
  transition: border 0.2s ease;
  font-size: 14px;
  width: 80%;
}

.players input:focus {
  outline: none;
  border-bottom: 1px solid var(--tertiary-color);
}

.players input::placeholder {
  color: var(--tertiary-color-30);
}

.playersList {
  height: 400px;
  overflow: scroll;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  display: none;
}

@media (min-width: 700px) {
  .playersList {
    height: 700px;
  }

  .players input {
    font-size: 15px;
  }
}
