.players {
  width: 100vw;
  height: 100vh;
  padding: 10% 5%;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--secondary-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

footer {
  margin: 20px 0 0 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
