.player {
  width: 100%;
  border: 1px solid #000;
  padding: 5%;
}

.player .top,
.player .bottom {
  display: flex;
  align-items: center;
}

.player .top {
  gap: 20px;
  justify-content: space-between;
}

.player .top input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  padding: 0 5px;
  font-size: 14px;
  width: 200px;
}

.player .top input:focus {
  outline: none;
}

.playerCards {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 25px;
}

.playerCards img {
  height: 50px;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
}

.playerCards img:nth-child(1) {
  left: 50%;
}
.playerCards img:nth-child(2) {
  left: 70%;
}

.player .bottom {
  margin: 10px 0 0 0;
  font-size: 13px;
  gap: 10px;
}
