.player {
  border: 1px solid var(--tertiary-color);
  width: 100%;
  color: var(--tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 5px;
}

.left .name {
  background: none;
  border-bottom: 1px solid var(--tertiary-color-30);
  color: var(--tertiary-color);
  padding: 2px 5px;
  font-size: 14px;
  width: 170px;
}

.scores {
  display: flex;
  font-size: 12px;
  gap: 10px;
}

.right {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.right > div {
  height: 100%;
  width: 41.91px;
  border: 1px solid var(--tertiary-color-30);
  display: flex;
  align-items: center;
  justify-content: center;
}

.right > div > img {
  width: 100%;
  height: 100%;
}
