@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #65a15b;
  --secondary-color: #000;
  --tertiary-color: #fff;
  --tertiary-color-30: rgba(255, 255, 255, 0.3);
  --quaternary-color: #eb4141;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  position: relative;
  overflow: hidden;
}
